<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿</h1>
    <%= form_tag("/posts/create") do %>
      <% @post.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
        <div class="form">
          <div class="form-body">
  　　　　　<!-- テキストタグにname属性を加えることによって、フォームの中身を取得できる-->
            <!-- 初期値で、@post.contentを入れることにより、前の投稿内容が入っているようにする-->
            <textarea name="content"><%= @post.content%></textarea>
            <input type="submit" value="投稿">
          </div>
        </div>
    <% end %>
  </div>
</div>

